*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table{
    margin: auto;
    border:solid black 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
    padding: 20px 0px;
}
td{
    border: solid black 1px;
    padding: 8px;
}

th{
    padding: 8px;
    justify-content: space-between
    ;
}

